<form (ngSubmit)="login()">

    <!-- <div>
        <h1>{{aim}}</h1>
    </div> -->
    <h1 style="color: white;">{{aim}}</h1>
    <div class="login">

        

        <div class="login_form">
            <h2>Login</h2>

            <!-- <input id="acid" name="acno" (change)="acnoChange($event)" type="text" [placeholder] = data> -->
            <input id="acid" name="acno" [(ngModel)]="acno"  type="text" [placeholder] = data>
            <br>
            <!-- <input id="pid" name="pwd" (change)="pswChange($event)" type="password" placeholder="Enter password"> -->
            <input id="pid" name="pwd" [(ngModel)]="psw" type="password" placeholder="Enter password">
            <br>
            <button type="submit" >Login</button>
            <br>
            <a routerLink="register">Register Here</a>
        </div>
    </div>
</form>