<!-- <p>dashboard works!</p> -->

<h1 class="username">Welcome {{user}}</h1>
<div class="transaction">
    <a routerLink="/transaction">View transaction history</a>

</div>



<div class="dashboard">
    <form (ngSubmit)="deposit()">
        <div class="deposit">
            <h2>Deposit</h2>

            <input type="text" name="acno" [(ngModel)] ="acno" id="acid" placeholder="Enter Account Number">
            <br>
            <input type="password" name="psw" [(ngModel)] ="psw" id="pid" placeholder="Enter password">
            <br>
            <input type="text" name="amount" [(ngModel)] ="amnt" id="aid" placeholder="Enter amount to deposit">
            <br>
            <button type="submit">Deposit</button>
        </div>
    </form>


    <form (ngSubmit)="withdraw()">
    <div class="withdraw">
        <h2>Withdraw</h2>

        <input type="text" name="acnum" [(ngModel)] ="acno1" id="acnid" placeholder="Enter Account Number">
        <br>
        <input type="password" name="pswd" [(ngModel)] ="psw1" id="pwid" placeholder="Enter password">
        <br>
        <input type="text" name="amnt" [(ngModel)] ="amnt1" id="amid" placeholder="Enter amount to deposit">
        <br>
        <button type="submit">Withdraw</button>
    </div>
    </form>
</div>