<!-- <p>dashboard works!</p> -->

<div class="topbar">
    <div class="det">
        <h1 class="username">Welcome {{user}}</h1>
        <p style="color: white;">{{dateandtime |date : 'short'}}</p>
        <div class="transaction">
            <a routerLink="/transaction">View transaction history</a>

        </div>
    </div>
    <div class="logout">
        <button (click)="deleteConfirm()" class="lgbtn btn btn-primary" type="submit">Delete Acc</button>


        <button (click)=logout()  class="lgbtn btn btn-primary" type="submit">Logout</button>
        
        
    </div>


    
</div>

<!-- to share parent component witth child comp -->
<!-- to share an event also, we should  -->

<app-deleteconfirm (onDelete)="delete($event)" (onCancel)="oncancel()" [item]="acno"></app-deleteconfirm>  
  


<div class="dashboard">
    <form [ngClass]="acno?'style': ''" (ngSubmit)="deposit()" [formGroup]="depositForm">
        <div class="deposit">
            <h2>Deposit</h2>

            <input type="text" name="acno" formControlName="acno" id="acid" placeholder="Enter Account Number">
            <br>
            <div class="pop" *ngIf="this.depositForm.get('acno')?.errors && this.depositForm.get('acno')?.touched ">
                <p class="text-danger text-start ms-1  ">Invalid Account Number</p>
            </div>
            <input type="password" name="psw" formControlName="psw" id="pid" placeholder="Enter password">
            <br>
            <div class="pop" *ngIf="this.depositForm.get('psw')?.errors && this.depositForm.get('psw')?.touched ">
                <p class="text-danger text-start ms-1  ">Invalid Password</p>
            </div>
            <input type="text" name="amount" formControlName="amnt" id="aid" placeholder="Enter amount to deposit">
            <br>
            <div class="pop" *ngIf="this.depositForm.get('amnt')?.errors && this.depositForm.get('amnt')?.touched ">
                <p class="text-danger text-start ms-1  ">Enter correct amount</p>
            </div>
            <button type="submit" class="submit">Deposit</button>
        </div>
    </form>


    <form [ngClass]="acno?'style': ''" (ngSubmit)="withdraw()" [formGroup]="withdrawForm">
        <div class="withdraw">
            <h2>Withdraw</h2>

            <input type="text" name="acnum" formControlName="acno1" id="acnid" placeholder="Enter Account Number">
            <br>
            <div class="pop" *ngIf="this.withdrawForm.get('acno1')?.errors && this.withdrawForm.get('acno1')?.touched ">
                <p class="text-danger text-start ms-1  ">Invalid Account Number</p>
            </div>
            <input type="password" name="pswd" formControlName="psw1" id="pwid" placeholder="Enter password">
            <br>
            <div class="pop" *ngIf="this.withdrawForm.get('psw1')?.errors && this.withdrawForm.get('psw1')?.touched ">
                <p class="text-danger text-start ms-1  ">Invalid Password</p>
            </div>
            <input type="text" name="amnt" formControlName="amnt1" id="amid" placeholder="Enter amount to deposit">
            <br>
            <div class="pop" *ngIf="this.withdrawForm.get('amnt1')?.errors && this.withdrawForm.get('amnt1')?.touched ">
                <p class="text-danger text-start ms-1  ">Enter correct amount</p>
            </div>
            <button class="submit" type="submit">Withdraw</button>
        </div>
    </form>
</div>