/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&family=Dancing+Script:wght@700&family=Manrope&family=Montserrat:wght@200;400;600&family=Nunito+Sans:wght@200&family=Playfair+Display&family=Poppins:wght@400;600&family=Tangerine&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("./assets/bg-img-2.webp");
    background-size: cover;
    /* height: 70vh; */
}

.style{
    opacity: 0;
}

.heading{
    color: #ffffff;
}